<a href="https://colab.research.google.com/github/Haya146/Python-tutorial-notebooks/blob/main/python%20basics%20revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## basics

In [ ]:
# Collections are assigned by reference
a = [1,2,3] # a now references to the list   [1,2,3]
b = a # b now references to what a references.
a.append(4)
print(b) # prints [1,2,3,4]

[1, 2, 3, 4]

In [39]:
x = 3
y = x
y = 4
print (x) # prints 3, as X is not affected

3

In [ ]:
thisset = {"Sally", "Sama", "Sara"}
print(thisset)
print("Sally" in thisset) #Prints Sally if it exists
 #Once a set is created, you cannot change its items, but you can add new items.
 #To add more than one item to a set use the update() method.
thisset.add("Salma")

{'Sama', 'Sara', 'Sally'}
True

In [ ]:
x= int(input("please enter an integer: "))
if x<0:
    print('Negative changed to zero')
elif x==0:
    print('Zero')
elif x==1:
    print('Single')
else:
    print('More')

please enter an integer:  1

Single

In [ ]:
a,b = 4,5
if a<b :
    x= 'smaller'
else:
    x='bigger'

print(x)

x= 'smaller' if a<b else 'bigger'
print(x)

smaller
smaller

## For loop

In [ ]:
# fIRST EXample
print('first example')
for letter in 'python':
    print('Current letter : ', letter)

# Second example
print('second example')
fruits =['apple','banana','mango']
for fruit in fruits:
    print('current fruit : ', fruit)

#Third example
print('third example')
food = ['pizza ','streak','rice']
for index in range(len(food)):
    print('current food : ', food[index])

first example
Current letter :  p
Current letter :  y
Current letter :  t
Current letter :  h
Current letter :  o
Current letter :  n
second example
current fruit :  apple
current fruit :  banana
current fruit :  mango
third example
current food :  pizza
current food :  streak
current food :  rice

## While loop

In [ ]:
count=0
while(count<5):
    print('the count is:', count)
    count=count+1

the count is: 0
the count is: 1
the count is: 2
the count is: 3
the count is: 4

In [40]:
i = 1
while i < 6:
 print(i)
 i += 1
 if(i == 3):
  break
 else:
  continue

1
2

## break

In [ ]:
for letter in 'python':
    if letter == 'h':
        break
    print('current letter',letter)

current letter p
current letter y
current letter t

In [ ]:
for letter in 'python':
    if letter == 'h':
        continue
    print('current letter',letter)

current letter p
current letter y
current letter t
current letter o
current letter n

## List

In [ ]:
list = ['physics','chemistry',1997,2000, 2015]
print(list[0])
print(list[1:4])

list[2] = 2001
print(list)

del(list[4])
print(list)

physics
['chemistry', 1997, 2000]
['physics', 'chemistry', 2001, 2000, 2015]
['physics', 'chemistry', 2001, 2000]

In [ ]:
person= [["Tajani", 'nasseer'],['boulder'],'c0']
print(person[0][1])

first_name= person[0][0]
city = person[1][0]
print(first_name + " lives in "+ city)

nasseer
Tajani lives in boulder

In [ ]:
a= [1,2,3]
[x**2 for x in a]
#[1,4,9]
z= [x+1 for x in [x**2 for x in a]]
print(z)

[2, 5, 10]

## Dictionary

In [ ]:
# Acess Dictionary
dict= {'Name': 'Zara','Age':7,'Class':'First'}
print('dict[Name]: ',dict['Name'])
print('dict[Age]: ',dict['Age'])
print(dict.keys())
print(dict.values())
print(dict.items())

# Update dictionary
dict['Age'] = 10
dict['school'] = 'Fireside Elematry School'
print('dict : ', dict)

# Delete dictionary
del(dict['Name']) # remove entry with key name
print('dict : ', dict)
dict.clear() # remove all entries in dict
print('dict', dict)
del(dict) # delete entire dictionary
print('dict ',dict)

dict[Name]:  Zara
dict[Age]:  7
dict_keys(['Name', 'Age', 'Class'])
dict_values(['Zara', 7, 'First'])
dict_items([('Name', 'Zara'), ('Age', 7), ('Class', 'First')])
dict :  {'Name': 'Zara', 'Age': 10, 'Class': 'First', 'school': 'Fireside Elematry School'}
dict :  {'Age': 10, 'Class': 'First', 'school': 'Fireside Elematry School'}
dict {}
dict  <class 'dict'>

## Fnctions

In [ ]:
def printinfo (arg1, *vartuple): # *Vartubles لما نيقى مش ارفين هنحتاج كام ارجيومنت
  print('Output is: ')
  print(arg1)
  for var in vartuple:
    print(var)
  return;

printinfo(10)
printinfo(70,60,50)

Output is:
10
Output is:
70
60
50

## Classes

In [ ]:
class Box:
  def __init__(self, x1, x2, y1, y2, label):
    self.x1 = x1
    self.x2 = x2
    self.y1 = y1
    self.y2 = y2

  def calc_area(self):
    return abs(self.x2 - self.x1) *abs(self.y2 - self.y1)

b = Box(10,100,10,100, 'car')
print(b.calc_area())

8100

In [ ]:
class employee:
  'Common base class for all employes'
  empCount = 0

  def __init__ (self, name, salary):
    self.name = name
    self.salary = salary
    employee.empCount += 1

  def displayCount(slef):
    print('Total employee %d' % employee.empCount)

  def displayEmployee(self):
    print('Name: ', self.name , ', Salary: ', self.salary)

# THIS WOULD CREATE FIRST OBJECT OF EMPLOYEE CLASS
emp1 = employee('Zara', 2000)
# THIS WOULD CREATE SECOND OBJECT OF EMPLOYEE CLASS
emp2 = employee('Manni', 5000)
emp1.displayEmployee()
emp2.displayEmployee()
print(f'Total employee {employee.empCount}')

Name:  Zara , Salary:  2000
Name:  Manni , Salary:  5000
Total employee 2

In [ ]:
class person :
  def __init__(self, name):
    self.name = name

  def get_details(self):
    "Retrns a string contain name of the person"
    return self.name

class student(person):
  def __init__(self, name, branch, year):
    person. __init__(self,name)
    self.branch = branch
    self.year = year

  def get_details(self):
    "Retrns a string contain name of the person"
    return "%s studies %s and is in %s year. "% (self.name, self.branch, self.year)

person1= person('Alex')
student1 = student('Jake', 'IT', '3rd')
print(person1.get_details())
print(student1.get_details())

Alex
Jake studies IT and is in 3rd year.

## Hands on

**example 1**  
Write a program to compute:
 f(n)=f(n-1)+100 when n>0
 and f(0)=0  
 with a given n input by console (n>0).  
 Example:  
 If the following n is given as input to the program:  
 5  
 Then, the output of the program should be:  
 500

In [41]:
def f(n):
  if n == 0 :
    return 0
  else:
    return f(n-1) + 100

n = int(input('Enter a number: '))
print(f(n))

Enter a number: 5
500

**example 2**  
 Write a class named Circle constructed by a radius and
two methods which will compute the area and the perimeter
of a circle.    
 Example:   
Circle Radius: 8  
 Circle Area: 200.  
 Circle Perimeter: 50.2

In [45]:
class circle():
  def __init__(self, reduis):
    self.reduis = reduis

  def area(self):
    return (self.reduis **2) * 3.14

  def pariemeter(self):
    return 2* self.reduis *3.14

newcircle = circle(8)
print(newcircle.area())
print(newcircle.pariemeter())

200.96
50.24

**example 3**  
Write a Python program to find the list
in a list of lists whose sum of elements
is the highest.  
 Sample lists: [1,2,3], [4,5,6], [10,11,12],
[7,8,9]  
 Expected Output: [10, 11, 12]

In [66]:
# solution 2
num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
l =[]
maxSum = 0
for x in num:
  sum=0
  for n in x :
    sum += n
    if (sum > maxSum):
      maxSum = sum
      l = x
print(l)

[10, 11, 12]