<a href="https://colab.research.google.com/github/Haya146/Python-tutorial-notebooks/blob/main/python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Calculate the factorial of a number

In [23]:
def factorial(n):
  if n ==0 :
    return 1
  else :
    return n * factorial(n-1)

result = factorial(5)
print(result)

120

-------------------------------
## 2. Find the maximum element in a list

In [24]:
list = [2,10,4,8,79,5,1]
maxx = list[0]
for x in list:
  if x > maxx :
    maxx = x
print(maxx)

79

---------------------------------------
## 3. Count the freqency of elements in a list

In [25]:
from collections import Counter
l = [1,2,3,2,1,3,4,2,1]
def count_frequency(l):
  frequency = Counter(l)
  return frequency

print(count_frequency(l))

Counter({1: 3, 2: 3, 3: 2, 4: 1})

--------------------------------------
## 4. Reverse a string

In [26]:
s = "Hello, World!"
def reverse_string(s):
   return s[::-1]

print(reverse_string(s))

!dlroW ,olleH

--------------------------------------
## 5. Calculate the sum of all ecven numbers in a list.

In [27]:
list = [1,2,3,4,5,6,7,8,9,10]

def calc_even(list):
  calc = 0
  for n in list :
    if n % 2 ==0  :
      calc += n
  return calc

print(calc_even(list))

30

-----------------------------------------
## 6. Determine if a number is prime

In [31]:
def is_prime(n):
  if n<=1 :
    return False
  for i in range(2,int(n**0.5)+1):
    if n%i ==0 :
      return False
  return True

print(is_prime(7))
print(is_prime(10))

True
False

--------------------------------------
## 7. Find the intersection of two lists

In [32]:
del(list)
def find_intersections(listt1, listt2):
    return list(set(listt1) & set(listt2))

listt1 = [1, 2, 3, 4, 5]
listt2 = [4, 5, 6, 7, 8]
print(find_intersections(listt1, listt2))

[4, 5]

-----------------------------------------
## 8. Find the average of numbers in a list

In [33]:
def calc_avg(nums):
  total = sum(nums)
  avg = total / len(nums)
  return avg

nums = [10,20,30,40,50]
print(calc_avg(nums))

30.0

-----------------------------------
## 9. Check if a number is a perfect square

In [34]:
def is_perfect_square(n):
  return n>=0 and int(n**0.5)**2 ==n

number1 = 16
number2 = 17
print(is_perfect_square(number1))
print(is_perfect_square(number2))

True
False

----------------------------
## 10. Remove duplicates rom a list.

In [35]:
def remove_duplicates(nums):
  return list(set(nums))

nums = [1,2,2,3,4,4,5,6,6]
print(remove_duplicates(nums))

[1, 2, 3, 4, 5, 6]